
<p class="mt-3 mb-2">Search users to add:</p>

<div style="border: 1px solid black">
<nav class="navbar navbar-light">
    
  <form class="form-inline form-friend-search mx-auto">
     <div class="d-inline-block">
        <input class="form-control" type="search"  aria-label="Search">
    </div>
    <div class="d-inline-block">
        <button class="btn btn-outline-dark search-btn" type="submit">Search</button>
    </div> 
  </form>
</nav>



<div class="friend-div" id="{{user.id}}"></div>
</div>

<div class="bg-light">
    <p class="mt-3 mb-2">Friend Requests</p>
    <hr>
{{#each user.pendingFriends}}
    <div class="card bg-light mt-3" style="border: 1px solid rgb(255, 145, 0)" id="{{this.id}}">
        <div class="row m-0">        
                <img src="{{this.image}}" class="card-img-friend">      
            <div class="card-body border-0">
                <h5 class="card-title">{{this.username}}</h5>
                <p class="card-text">{{this.location}}</p>
            </div>
            <div class="d-flex" style="position: relative">
             <button type="submit" class="btn friend-pending-btn align-self-end m-3" id="{{this.userId}}">Pending friend</button>                 
            </div>                   
        </div>
    </div>
{{/each}}
</div>

<div class="bg-darker">
    <p class="mt-3 mb-2">Friends</p>
    <hr>
{{#each user.friends}}
<div class="card bg-light mt-3 mb-5" style="border: 1px solid rgb(32, 92, 184);" id="{{this.friendlist}}">
        <div class="row m-0 ">        
                <img src="{{this.image}}" class="profile-image align-self-center ml-3" style="height: 150px;">      
            <div class="card-body border-0 ml-3">
                <span class="profile-text">Username:</span>
                <h5 class="card-title">{{this.username}}</h5>
                <span class="profile-text">Headline:</span>
                <p class="">{{this.headline}}</p>
                <span class="profile-text">Location:</span>
                <p class="">{{this.location}}</p> 
                <span class="profile-text">Birthday:</span>
                <p class="">{{this.birthday}}</p>
                <span class="profile-text">Bio:</span>
                <p class="">{{this.bio}}</p>
            </div>
            <div class="d-flex" style="position: relative">
             <button type="submit" class="btn friend-remove-btn align-self-start m-3" id="{{this.userId}}">Remove friend</button>                 
            </div>                   
        </div>
        <form class="mx-auto mt-4 post-form-wall w-100 pr-5 pl-5 pb-2">
        Write on Friend's Wall
        <hr>
        <div class="form-group mx-auto">
            <label for="headline-text" class="profile-text-wall">Title</label>
            <input type="tet" class="form-control d-block headline-text-wall" >
        </div>

        <div class="form-group mx-auto">
            <label for="post-text" class="profile-text-wall">Post</label>
            <textarea class="form-control d-block post-text-wall" rows="3"></textarea>
        </div>

        

        <button type="submit" class="btn btn-primary ml-auto wall-btn" id="{{this.userId}}">Post</button>
        <span id="small-error-update-wall" class="text-danger ml-2" style="display: none">All fields must be filled</span>
        <span id="small-success-update-wall" class="text-success ml-2" style="display: none">Post success</span>
    </form>
    </div>

    


{{/each}}
</div>