
<p class="mt-3 mb-2">Search users to add:</p>

<div style="border: 1px solid black">
<nav class="navbar navbar-light">
    
  <form class="form-inline form-friend-search mx-auto">
     <div class="d-inline-block">
        <input class="form-control" type="search"  aria-label="Search">
    </div>
    <div class="d-inline-block">
        <button class="btn btn-outline-dark search-btn" type="submit">Search</button>
    </div> 
  </form>
</nav>



<div class="friend-div" id="{{user.id}}"></div>
</div>

<div class="bg-light">
    <p class="mt-3 mb-2">Friend Requests</p>
    <hr>
{{#each user.pendingFriends}}
    <div class="card bg-light mt-3" style="border: 1px solid rgb(255, 145, 0)" id="{{this.id}}">
        <div class="row m-0">        
                <img src="{{this.image}}" class="card-img-friend">      
            <div class="card-body border-0">
                <h5 class="card-title">{{this.username}}</h5>
                <p class="card-text">{{this.location}}</p>
            </div>
            <div class="d-flex" style="position: relative">
             <button type="submit" class="btn friend-pending-btn align-self-end m-3" id="{{this.newFriendId}}">Pending friend</button>                 
            </div>                   
        </div>
    </div>
{{/each}}
</div>

<div class="bg-light">
    <p class="mt-3 mb-2">Friends</p>
    <hr>
{{#each user.friends}}
<div class="card bg-light mt-3 mb-5" style="border: 1px solid rgb(32, 92, 184);" id="{{this.friendlist}}">
        <div class="row m-0 ">        
                <img src="{{this.image}}" class="profile-image align-self-center" style="height: 150px;">      
            <div class="card-body border-0 ml-3">
                <span class="profile-text">Username:</span>
                <h5 class="card-title">{{this.username}}</h5>
                <span class="profile-text">Headline:</span>
                <p class="">{{this.headline}}</p>
                <span class="profile-text">Location:</span>
                <p class="">{{this.location}}</p> 
                <span class="profile-text">Birthday:</span>
                <p class="">{{this.birthday}}</p>
                <span class="profile-text">Bio:</span>
                <p class="">{{this.bio}}</p>
            </div>
            <div class="d-flex" style="position: relative">
             <button type="submit" class="btn friend-remove-btn align-self-end m-3" id="{{this.friendlist}}">Remove friend</button>                 
            </div>                   
        </div>
    </div>




{{/each}}
</div>