

<div class="container user-profile bg-light d-flex">
    <div class="d-inline mr-4">
        <img src='{{user.profile.image}}' class="d-inline mt-4 profile-image">
    </div>

    <div class="d-inline mt-2">
        <p class="mt-2 d-block"><span class="profile-text">Username:</span></p> <span class='profile-bio-text'>{{user.profile.username}}</span>
        <p class="mt-2 d-block"><span class="profile-text">Headline:</span> </p><span class='profile-bio-text'>{{user.profileh.eadline}}</span>
        <p class="mt-2 d-block"><span class="profile-text">Location:</span></p> <span class='profile-bio-text'>{{user.profile.location}}</span>
        <p class="mt-2 d-block"><span class="profile-text">Bio:</span> </p><span class='profile-bio-text'>{{user.profile.bio}}</span>

    </div>
    
</div>






